*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%) */

body    {
    background-color: hsl(0, 100%, 74%);
    background-image: url(bg-intro-mobile.png);
    padding: 2em;
}
.top    {
    color: white;
}
.mid    {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 20px gray; */
}
h1  {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;text-align: center;
}
p   {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}
p a{
    color: red;
}
.bot    {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
form{
    /* padding: 15px; */
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}
input   {
    width: 95%;
    padding: 10px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px;
    border-radius: 10px;
}
input:invalid{
    background: url(icon-error.svg);
    background-repeat: no-repeat;
}
.submit {
    background-color: hsl(154, 59%, 51%);
    border: 0;
    border-radius: 10px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}
@media screen and (min-width:376px) {
    body    {
        display: flex;
    }
    .top{
        margin: auto;
        width: 50%;
    }
    .right{
        width: 50%;
    }
}